ion-icon{
  // zoom:2.5;
}

.item-inner {
  margin-left:-8vw!important;
}

ion-card-content{
  padding: 0;
}

ion-card{
  margin: 5px 10px 5px 10px;
}

.alert-message {
  text-align: left !important;
}