<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>註冊新帳號</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form class="container" [formGroup]="registrationForm" (ngSubmit)="registration()">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <!-- <div text-center>
                <h3>Create your account!</h3>
              </div> -->
              <div padding>
                <!-- 
                  <ion-item>
                    <ion-label position="floating">帳號</ion-label>
                    <ion-input name="account" type="text" formControlName="account"></ion-input>
                  </ion-item>
                -->
                <ion-item >
                  <ion-label [class.invalidLabel]="!registrationForm.controls.name.valid" position="floating">
                    <div>姓名</div></ion-label>
                  <ion-input name="name" type="text" formControlName="name" ></ion-input>
                  <div *ngIf="registrationForm.controls.name.invalid" class="invalid">
                    <div *ngIf="registrationForm.controls['name'].errors.required"  >
                      不可空白
                    </div>
                  </div>
                </ion-item>
                <ion-item >
                  <ion-label [class.invalidLabel]="!registrationForm.controls.account.valid" position="floating">帳號</ion-label>
                  <ion-input #inputAccount name="account" type="text" formControlName="account" ></ion-input>
                  <div *ngIf="registrationForm.controls.account.invalid" class="invalid">
                    <div *ngIf="registrationForm.controls['account'].errors.required"  >
                      不可空白
                    </div>
                    <div *ngIf="registrationForm.controls['account'].errors.minlength" >
                      最少要{{registrationForm.controls['account']?.errors?.minlength.requiredLength}}個字
                    </div>
                    <div *ngIf="registrationForm.controls['account']?.errors?.userExist" >帳號已存在!!</div>
                    <div *ngIf="registrationForm.controls['account']?.errors?.maxlength">
                      最多只能{{registrationForm.controls['account']?.errors?.maxlength.requiredLength}}個字
                    </div>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label [class.invalidLabel]="!registrationForm.controls.email.valid" position="floating">E-Mail</ion-label>
                  <ion-input name="email" type="email" formControlName="email" ></ion-input>
                  <div *ngIf="registrationForm.controls.email.invalid" class="invalid">
                    <div *ngIf="registrationForm.controls['email'].errors.required"  >
                      不可空白
                    </div>
                    <div *ngIf="registrationForm.controls['email'].errors.minlength" >
                      最少要{{registrationForm.controls['email']?.errors?.minlength.requiredLength}}個字
                    </div>
                    <div *ngIf="registrationForm.controls['email'].errors.pattern"  >
                      格式不正確
                    </div>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label [class.invalidLabel]="!registrationForm.controls.phone.valid" position="floating">手機號碼</ion-label>
                  <ion-input name="phone" type="tel" formControlName="phone" ></ion-input>
                  <div *ngIf="registrationForm.controls.phone.invalid" class="invalid">
                    <div *ngIf="registrationForm.controls['phone'].errors.required"  >
                      不可空白
                    </div>
                    <div *ngIf="registrationForm.controls['phone'].errors.pattern"  >
                      需要是09開頭，最多10碼
                    </div>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label [class.invalidLabel]="!registrationForm.controls.password.valid" position="floating">密碼</ion-label>
                  <ion-input name="password" type="password" formControlName="password" ></ion-input>
                  <div *ngIf="registrationForm.controls.password.invalid" class="invalid">
                    <div *ngIf="registrationForm.controls['password'].errors.required"  >
                      不可空白
                    </div>
                    <div *ngIf="registrationForm.controls['password'].errors.minlength" >
                      最少要{{registrationForm.controls['password']?.errors?.minlength.requiredLength}}個字
                    </div>
                    <!-- <div *ngIf="registrationForm.controls['account']?.errors?.userExist" >帳號已存在!!</div> -->
                    <div *ngIf="registrationForm.controls['password']?.errors?.maxlength">
                      最多只能{{registrationForm.controls['password']?.errors?.maxlength.requiredLength}}個字
                    </div>
                  </div>
                </ion-item>
                <ion-item>
                  <ion-label [class.invalidLabel]="!registrationForm.controls.password2.valid" position="floating">再輸一次密碼</ion-label>
                  <ion-input name="confirm" type="password" formControlName="password2" ></ion-input>
                  <div *ngIf="registrationForm.controls.password2.invalid" class="invalid">
                    <div *ngIf="registrationForm.controls['password2'].errors.required"  >
                      不可空白
                    </div>
                    <div *ngIf="registrationForm.controls['password2'].errors.passwordMismatch"  >
                      密碼不一致
                    </div>
                    <!-- <div *ngIf="registrationForm.controls['password2'].errors.minlength" >
                      最少要{{registrationForm.controls['password2']?.errors?.minlength.requiredLength}}個字
                    </div>
                    <div *ngIf="registrationForm.controls['password2']?.errors?.maxlength">
                      最多只能{{registrationForm.controls['password2']?.errors?.maxlength.requiredLength}}個字
                    </div> -->
                  </div>
                </ion-item>
              </div>
              <div padding>
                <!--  -->
                <ion-button size="large" type="submit" [disabled]="registrationForm.invalid" expand="block">創建帳號
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="ion-text-center" style="width:100%">
          我已經是會員了 <a [routerLink]="['/']">登入</a>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>