

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <!-- name="triangle" -->
      <ion-icon src="assets/icon/dailyrecord-tab.svg" style="zoom:2;"></ion-icon>
      <!-- <ion-label>Daily Record</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="assets/icon/chart-tab.svg" style="zoom:2"></ion-icon>
      <!-- <ion-label>Chart</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon src="assets/icon/reward-tab.svg" style="zoom:2"></ion-icon>
      <!-- <ion-label>Reward</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon src="assets/icon/setting-tab.svg" style="zoom:2"></ion-icon>
      <!-- <ion-label>Setting</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
